/* Import Bootstrap */
@import url('https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css');

/* General Styles */
body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
}

.container {
    width: 80%;
    margin: auto;
}

header {
    background: #50b3a2;
    color: white;
    padding: 20px 0;
    border-bottom: 3px solid #e8491d;
}

header a {
    color: #ffffff;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 16px;
}

header nav a {
    color: #ffffff;
    margin-right: 20px;
}

header nav a:hover {
    color: #e8491d;
}

h1 {
    color: #333;
}

form {
    width: 80%;
    margin: 20px auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

label {
    display: block;
    margin-bottom: 10px;
}

input[type="text"],
input[type="email"],
input[type="password"],
select {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
}

.btn-primary {
    width: 100%;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
}

.btn-primary:hover {
    background-color: #444;
}

nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-between;
}

footer {
    padding: 20px;
    margin-top: 20px;
    color: #ffffff;
    background-color: #e8491d;
    text-align: center;
}
